.conda/
simulation.db
results.txt
src/fl_simulator/attacks/research_att.py
simulation_epoch_results.txt
src/fl_simulator/attacks/attacks.py
src/fl_simulator/aggregation/aggregation.py
src/fl_simulator/aggregation/testing.py
.env/
__pycache__/
*.pyc