.conda/
simulation.db
simulationResearch.py
results.txt
config.yaml
backend/attacks/research_att.py
simulation_epoch_results.txt
backend/attacks/attacks.py
backend/aggregation/aggregation.py
backend/aggregation/testing.py
.env/
__pycache__/
*.pyc